@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Roboto&family=Roboto+Slab&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto' ,'Poppins', "Courgette", 'Times New Roman', Times, serif;
}

:root {
    --navy: #003060;
    --orange: #e55b13;
    --yellow: #f8c625;
    --brown: #a47551;
    --beige: #e9dccb;
    --light-beige: #f6eee0;
}

                                /* Start Styling Landing Page */

/* Start Styling Nav Bar */

header{
    width: 100%;
    background-color: var(--light-beige);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 5%;
}

.logo-nav {
    width: 140px;
    height: 80px;
}

ul.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
}

li.nav-item {
    margin-right: 20px;
    font-size: 17px;
    font-weight: bold;
}

a.nav-item-link {
    text-decoration: none;
}

/* End Styling Nav Bar */

/* Start Styling main Section */

main {
    background-color: var(--light-beige);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2% 5%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h1.haedline {
    color: var(--navy);
    margin-bottom: 20px;
}

p.index-para {
    max-width: 500px;
    font-size: 18px;
    color: var(--brown);
    line-height: 29px;
    margin-bottom: 10px;
}

button.know-more {
    background-color: var(--orange);
    color: white;
    padding: 12px 29px;
    border: none;
    border-radius: 6px;
    margin: 22px 0px;
    font-size: 16px;
}

ul.icons-list {
    list-style: none;
    display: flex;
    align-items: center;
}

li.icon {
    background-color: var(--brown);
    color: white;
    margin-right: 20px;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 18px;
}
/* End Styling main Section */

/* Start Styling Second Section */
section.second-section {
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1.headline-second {
    color: var(--brown);
    font-size: 27px;
}

ul.categories-list {
    list-style: none;
    display: flex;
}

li.categories-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 60px;
    margin-top: 40px;
}

.second-section i.fa {
    font-size: 34px;
    padding: 23px;
    background-color: var(--navy);
    border-radius: 50%;
    color: white;
    margin-bottom: 30px;
}

.second-section p {
    color: var(--brown);
    font-weight: bold;
    font-size: 19px;
}
/* End Styling Second Section */

/* Start Styling Third Section */
.third-section{
    padding: 5% 5%;
}

.img-third-section{
    width: 450px;
    height:400px
}

/* End Styling Third Section */

/* Start Styling Footer */
footer {
    padding: 5% 5%;
    background-color: var(--navy);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer h1 {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 25px;
}

footer ul {
    list-style: none;
}

footer ul li {
    margin-bottom: 11px;
}

button:hover{
    transform: scale(1.1);
    background-color: var(--brown);
}
/* End Styling Footer */

/* Start Styling Login Pop Up */
#login-form, #signup-form{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #ffffff20;
    backdrop-filter: blur(.3rem);
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

button#close , #close-signup, #close-book{
    background-color: red;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    float: right;
    margin-right: 21px;
}

button:hover{
    cursor: pointer;
}

.login-form, .signup-form{
    text-align: center;
    border: none;
    
}

.form-body{
    padding: 50px 25px 29px;
    width: 350px;
}

.title{
    color: var(--navy);
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0 0 60px;
}

.form-group{
    text-align: left;
    margin-bottom: 20px;
    position: relative;
}

.input-icon{
    color: #777;
    font-size: 18px;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 20px;
}

.form-control{
    font-size: 17px;
    height: 45px;
    width: 100%;
    padding: 6px 0 6px 50px;
    margin: 0 auto;
    border: 2px solid #eee;
    border-radius: 5px;
    box-shadow: none;
    outline: none;
}

.form-control::placeholder{
    color: #AEAFB1;
}

.btn{
    padding: 8px 15px;
    background-color: var(--orange);
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: lighter;
    border: none;
}
/* End Styling Login Pop Up */

                                /* End Styling Landing Page */


                                /* Start Styling Home Page */

/*Start Styling cards */

img.profile {
    width: 43px;
    border-radius: 50%;
}

.cards-section {
    display: flex;
    padding: 2% 5%;
    justify-content: space-evenly;
    align-items: center;
    gap: 26px;
    flex-wrap: wrap;
}

.cards{
    padding: 6px;
    background-color: var(--beige);
    display: flex;
    border-radius: 6px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--navy);
    width: 282px;
}

.cards .image-card{
    width: 100%;
    height: 10%;
}

.cards .image-card img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.cards h2{
    font-size: 16px;
    margin: 10px 0;
    text-align: center;
}

.cards p{
    font-size: 14px;
    text-align: center;
}

.cards .btns{
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
}

button#logout {
    color: white;
    background-color: var(--orange);
    border: none;
    padding: 8px;
    border-radius: 50%;
    font-size: 24px;
}

button.btn.btn_delete {
    margin-right: 10px;
}

.book-pop{
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff20;
    backdrop-filter: blur(.3rem);
    padding: 7% 12%;
} 

.pop-container {
    background-color: #ebe2d6cc;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

img.book-img {
    width: 350px;
    height: 426px;
}

.pop-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 425px;
    padding: 3%;
    margin-left: 55px;
}

h1.book-title {
    color: var(--navy);
    font-size: 30px;
    margin-bottom: 20px;
}

p.book-author {
    margin-bottom: 17px;
    color: var(--brown);
    font-weight: bold;
    font-size: 18px;
}

ul.stars {
    display: flex;
    list-style: none;
    gap: 8px;
    font-size: 23px;
    color: var(--orange);
}

p.book-desc {
    color: var(--navy);
    font-size: 18px;
    font-weight: bold;
    margin-top: 47px;
    line-height: 30px;
}
                                /* End Styling Home Page */